@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: normal;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    width: 75%;
    min-height: 100px;
    margin: 0 auto;
}

.nav-container {
    width: 75%;
    margin: 0 auto;
    padding: .5rem;
    color: white;
}

.nav-container h1{
    font-weight: bold;
}

header {
    background-color: #9fc5f8;
}

.city-header {
    padding: 2% 0%;
    border-bottom: 3px solid black;
    margin-bottom: 3%;
}

.weather-container {
    padding: 2%;
    background-color: #eeeeee;
    text-align: center;
    flex-direction: column;
}


.cities {
    padding: 1% 4%;
}

select {
    border: 2px solid black;
}

.weather-container img {
    width: 100px;
    border-radius: 50%;
    flex: 2;
}

.weather-container h2 {
    flex: 1;
}

.temps {
    width: 100%;
    justify-content: space-between;
}

.hot {
    color: red;
    font-weight: bold;
    flex: 1;
}

.cold {
    color: blue;
    font-weight: bold;
    flex: 1;
}
/* End of weather container content */

.cookie-container {
    background-color: #eeeeee;
    padding: .5em 1em;
    margin-top: .5em;
    border: 3px solid black;
}

.btn {
    padding: .5em 1em;
    background-color: #9fc5f8;
    box-shadow: 2px 2px 1px black;
    color: black;
    white-space: nowrap;
}